@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|PT+Sans|Roboto+Condensed|Alegreya+Sans+SC:500|Alegreya+Sans:500');
/*------------------------------USER STYLES------------------------------*/
@import "./navigation.scss";
@import "./login.scss";

.CampaignItem {
  display: block;
  padding: 1rem;
  color: #000;
  border-bottom: 1px solid #eee;
}

.bg-purple{
  background: #58108e;
}


.md-icon {font-size: 1.4em;}


p{
  text-align: justify;
}

.title{
  font-family:'Open Sans', sans-serif;
  font-weight:400;
}

.copyright {
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  clear:both;
}


#header-container{
  padding-left:0px;
  padding-right:0px;
}

body, html, #__blaze-root{
  height:100%;
  min-height:100%;
  margin:0;
  #splash{
    background: #58108e;
    height:100%;
  }
}

#welcome{
  font-family:'Helvetica Neue', sans-serif;
  position:relative;
  padding:0;
  margin:0;
  h1{
    font-weight:600;
    font-family:'Alegreya Sans SC' , sans-serif;
  }
}

#welcome h2, h5.hungry {
  font-size: 1.50rem;
  margin-bottom:  0;
}

#slogan {
  font-size: 1rem;
  font-weight: 300;
}

.hungry{
  display:inline;
}

h2.hungry, p.hungry{
  font-weight:300;
  font-style: italic;
}

#splash-icon{
  margin-top:30px;
  margin-left:35px;
}

// input.form-control.item.mx-auto{
//   border:1px solid #dedbdb;
//   border-radius:4px;
// }

.or-separator {
  font-size:0.9em;
  color:#b7bec3;
  .hline{
    text-decoration: line-through;
  }
}

#emailInput{
  display:inline-block;
  margin:0;
}

.form-control:not(#search-input) {
  width:200px;
  max-width:200px;
  height:30px;
  border-bottom:1px solid #afadad;
  border-radius:0;
  -webkit-transition:border-bottom 0.2s ease-out;
  transition:border-bottom 0.2s ease-out;
}

.no-border{
  box-shadow:none !important;
  border:none;
}

.input-group-addon{
  width:2.5rem;
  border: none;
  background:inherit;
  padding:0;
}

.input-group{
  margin-bottom:15px;
  margin-left:auto;
  margin-right:auto;
  float:none;
}

.form-control:focus:not(#search-input){
  border-bottom:2px solid #58108e;
}

.input-error{
  background: #fdf7f7;
  color: #d9534f;
}

.form-control.input-error {
  border-bottom:1px solid #d9534f !important;
  -webkit-transition:border-bottom 0.2s ease-out;
  transition:border-bottom 0.2s ease-out;
}
.form-control.input-error:focus{
  border-bottom:2px solid #d9534f !important;
}

.text-purple{
  color:#58108e;
}

#section{
  padding-bottom:40px;
}

.error-message{
  font-size:0.82rem;
}

.button-purple, .button-purple:hover{
  background:#58108e;
  color:#fff;
  border-radius: 4px;
}

.button-purple-inverse, .button-purple-inverse:hover{
  background:#fff;
  color:#58108e;
}

.text-under-button {
    font-size: 0.85em;
    font-family: 'Helvetica Neue',sans-serif;
    font-weight: 200;
    margin-top: 3px;
    text-align:center;
}

.active-button {
    color: #58108e;
    background: #fff;
    border: none;
    border-radius: 0;
}
