/* Author: Robert Gordon
   Date: May 21, 2017
*/

#logincontainer{
  padding-top:10px;
}

#login-buttons .login-image, .login-form.login-password-form, .or{
  display:none;
}

a#login-btn,  a#login-btn:hover {
    border: 1px solid #fff;
}

#login-buttons .login-button, .accounts-dialog .login-button, #login-btn, #register-btn {
   color:#FFF;
   background:#58108e;
   line-height:1.25;
   vertical-align:middle;
   border:none;
   font-size:0.92em;
   padding:8px;
   text-align:center;
   border-radius: 4px;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover, #login-btn:hover {
  color:#FFF;
  background:#58108e;
}



#login-buttons .text-besides-image{
  margin: 0 auto;
}


#login-btn, .login-button, #register-btn{
  width:225px;
  max-width:225px;
  height:30px;
  border: none;
  font-weight: bold;
  position: relative;
  display: block;
  margin:0 auto;
}

#register-btn, #register-btn:hover {
  color:#58108e;
  background: #FFF;
}
