/* Author: Robert Gordon
   Date: July 3, 2017
*/

.settings-container{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  background:#fff;
  padding:50px 5px 0px 5px;
}

.settings-container-item{
  width:100%;
  background:inherit;
  border-bottom:1px solid #d0d0d0;
  height:45px;
  padding:0;
  margin:0;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.settings-container-item>p{
  margin:0;
}
.settings-container-item:hover{
  background:#f0f0f0;
}

.settings-container-item:last-child{
  border-bottom:none !important;
}

.btn-logout{
  height:30px;
}

.settings-container-item.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-right: 5px;
    padding-left: 5px;
}
