.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100%;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background:#fff;
  border-right:1px solid #eee;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100%;
  box-shadow:0px 8px 9px #999;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

div.user-pic{
  height:25px;
  width:25px;
  border-radius:50%;
  margin-left:5px;
  margin-right:3px;
  background:linear-gradient(0deg, purple, red);
}

div#slideout-middle {
  padding-top:10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width:100%;
  padding-bottom:10px;
  margin-bottom:20px;
  border-bottom: 1px solid #d0d0d0;
}

.slideout-middle-item{
  width:100%;
  background:inherit;
  height:30px;
  padding:0;
  margin:0;
  display:flex;
  align-items: center;
  justify-content: space-between;

}
#slideout-middle:nth-child(3){
  border-top:1px solid #d0d0d0;
}

.slideout-middle-item:hover, .slideout-middle-item:focus{
  background:#f0f0f0;
}

.slideout-middle-item>p{
  margin:0;
  margin-left:15px;
  align-self: center;
}

.slideout-restaurant-list{
  display:flex;
  flex-direction:column;
  width:100%;
}

.slideout-restaurant-list-item{
  background:inherit;
  width:100%;
  height:40px;
  margin:0;
  padding:0;
  display:flex;
  align-items:center;
}

.slideout-restaurant-list-item:hover, .slideout-restaurant-list-item:focus{
  background:#f0f0f0;
}

.restaurant-pic{
  height:20px;
  width:20px;
  border-radius:50%;
  background:linear-gradient(to left top, red, pink);
  margin:0 10px 0 10px;
}

.position{
  padding-top:10px;
  margin-top:50px;
}
