<template name="profileHeader">
  <section class="profile-top-section fixed-top">
    <div class="back-button">
      <button class="btn btn-link text-white" type="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
    </div>
    <div class="profile-info-section">
      <div class="profile-info">
        <img src="{{userProfile.avatar_url}}" alt="Profile Picture" class="user-profile-pic">
        <p class="user-profile-name">{{userProfile.name}}</p>
      </div>
      <div class="profile-links clearfix">
        <a href="{{pathFor 'Favorites'}}" class="profile-link pull-left {{#if isActiveRoute 'Favorites'}} active {{/if}}"> Favorites</a>
        <a href="{{pathFor 'Account'}}" class="profile-link pull-right {{#if isActiveRoute 'Account'}} active {{/if}}"> Account</a>
      </div>
    </div>
  </section>
</template>
